#python
__pycache__/
*.py[cod]
*.sqlite3
*.pyc

#virtual environment
myenv/

#django
/staticfiles/
/media/
*.pot

#other files
.ipynb_checkpoints
.DS_Store
.vscode/
.env
.idea/
*.log
**/tmp/
data/
*.db
.git
.dockerignore
Dockerfile

