{% extends "studentApp/base.html" %}

{% block content %}
<style>
    .about_body {
        text-align: justify;
    }

   
    h3 {
        padding: 10px;
        text-align: center;
    }
</style>
<h1>About us</h1>
<div class="about_body">
    <div class="row ">
        <div class="col-md-8">
            <section>
                <p>Vivamus laoreet massa eu leo commodo lacinia. Phasellus accumsan posuere sapien non congue. Duis
                    eleifend, enim at consequat consequat, nibh lectus euismod magna, at sodales arcu odio a est. Duis
                    nec eros id turpis congue laoreet sed in nisi. Etiam at efficitur enim. Praesent accumsan sed magna
                    eget consectetur. Donec mi nisl, ultricies vel condimentum in, elementum sit amet diam. Donec
                    bibendum quis sapien eu euismod. Nunc sit amet libero malesuada, commodo tellus sed, varius nibh.
                </p>
            </section>

            <section>
                <h3> Core Values</h3>
                <p>Vivamus laoreet massa eu leo commodo lacinia. Phasellus accumsan posuere sapien non congue. Duis
                    eleifend, enim at consequat consequat, nibh lectus euismod magna, at sodales arcu odio a est. Duis
                    nec eros id turpis congue laoreet sed in nisi. Etiam at efficitur enim. Praesent accumsan sed magna
                    eget consectetur. Donec mi nisl, ultricies vel condimentum in, elementum sit amet diam. Donec
                    bibendum quis sapien eu euismod. Nunc sit amet libero malesuada, commodo tellus sed, varius nibh.
                </p>
                <button type="button" class="btn btn-info btn-sm">Discover more</button>
            </section>
            <section>
                <h3>Campus Support</h3>
                <p>Vivamus laoreet massa eu leo commodo lacinia. Phasellus accumsan posuere sapien non congue. Duis
                    eleifend, enim at consequat consequat, nibh lectus euismod magna, at sodales arcu odio a est. Duis
                    nec eros id turpis congue laoreet sed in nisi. Etiam at efficitur enim. Praesent accumsan sed magna
                    eget consectetur. Donec mi nisl, ultricies vel condimentum in, elementum sit amet diam. Donec
                    bibendum quis sapien eu euismod. Nunc sit amet libero malesuada, commodo tellus sed, varius nibh.
                </p>
            </section>
            <section>
                <h3> Facility</h3>
                <p>Vivamus laoreet massa eu leo commodo lacinia. Phasellus accumsan posuere sapien non congue. Duis
                    eleifend, enim at consequat consequat, nibh lectus euismod magna, at sodales arcu odio a est. Duis
                    nec eros id turpis congue laoreet sed in nisi. Etiam at efficitur enim. Praesent accumsan sed magna
                    eget consectetur. Donec mi nisl, ultricies vel condimentum in, elementum sit amet diam. Donec
                    bibendum quis sapien eu euismod. Nunc sit amet libero malesuada, commodo tellus sed, varius nibh.
                </p>
            </section>

        </div>
        <div class="col-md-4" style="background-color: #d64869; color: azure;">
            <h3 style="background-color: #BB2649; color: azure;">News</h3>
            <p>Vivamus laoreet massa eu leo commodo lacinia. Phasellus accumsan posuere sapien non congue. Duis
                eleifend,</p>
            <h3 style="background-color: #BB2649; color: azure;">Hallamversity Tales</h3>
            <p> Praesent accumsan sed magna eget consectetur. Donec mi nisl, ultricies vel condimentum in, elementum sit
                amet diam. Donec bibendum quis sapien eu euismod. Nunc sit amet libero malesuada, commodo tellus sed,
                varius nibh.</p>

        </div>
    </div>
</div>
{% endblock content %}